@page "/"
@using BlazorWPF.Client.Data
@inject DataService ds
@inject CardReaderService card

<h3>Smart Card Demo</h3>

<MudButton Variant="Variant.Filled" OnClick="GetCardReaderStatus">Get Card Reader Status</MudButton><br/>

<p>@cardReaderStatus</p>

@code {
    string? cardReaderStatus = "Waiting...";

    protected override void OnInitialized()
    {
        card.OnCardInserted = (readerName) =>
        {
            var info = card.GetCardPanInfo();
            cardReaderStatus = $"[{readerName}] {info}";
            InvokeAsync(StateHasChanged);
        };

        card.OnCardRemoved = (readerName) =>
        {
            cardReaderStatus = $"Card removed from: {readerName}";
            InvokeAsync(StateHasChanged);
        };

        card.StartMonitoring();
    }

    async Task GetCardReaderStatus()
    {
        cardReaderStatus = card.GetCardPanInfo();
    }
}